<app-navbar></app-navbar>
<!-- Formulario de login -->
<section class="login">   
  <div class="container">
      <div class="row">
        <div class="col-3">
          
        </div>
        <div class="col-6 formulario-login mb-3">
          <h3>Ingresa tus datos</h3>
        </div>
        <div class="col-3">
          
        </div>
      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="mb-3">
              <label for="nombreUsuario" class="nombreUsuario"><b>Usuario</b></label>
              <input
                type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
                [(ngModel)]="nombreUsuario" required />
              <div id="emailHelp" class="form-text">
               <b>Nunca compartiremos tu información con nadie.</b>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"
                ><b>Contraseña</b></label
              >
              <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password"
                    required />
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-secondary">
                Ingresá
              </button>
            </div>
          </form>
          
            <small>¿Sos nuevo y no tenes cuenta? *Registrate
              <!--<a routerLink="/registro">registrate</a>-->
            </small>
        </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
</section>